{
  "openapi": "3.0.3",
  "info": {
    "title": "tars-trade-audit-risk-system",
    "description": "TARS (Trade Audit & Risk System) \u00e2\u20ac\u201d autonomous trading robot with rules it cannot break, live on testnet \u00e2\u20ac\u201d open source, 400+ automated checks passing",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.tars-trade.com",
      "description": "Production"
    },
    {
      "url": "https://staging-api.tars-trade.com",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/manifest": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Serve the ASP manifest for okx.ai agent registration.",
        "operationId": "manifest",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/.well-known/agent-card.json": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "A2A-compatible discovery card (I4): capabilities, tool catalog with",
        "operationId": "agent_card",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "x402 payment discovery (I4): which routes are paid and on what terms.",
        "operationId": "x402_well_known",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Liveness + heartbeat (S2): distinguishes \"no cycle ran\" (heartbeat",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/metrics": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Structured metrics snapshot (S3): counters, gauges, heartbeat, and",
        "operationId": "api_metrics",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/hire": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Run a portfolio audit: analyze holdings, score risk, log the decision trail.",
        "operationId": "hire",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/trade": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Run a trading cycle: generate signals \u2192 pass risk checks \u2192 log onchain \u2192 execute.",
        "operationId": "trade",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/audit-stats": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Query onchain audit trail for recent decisions and executions.",
        "operationId": "audit_stats",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/risk-stats": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Get current daily risk statistics for the agent.",
        "operationId": "risk_stats",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/positions": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Fetch live positions from OKX. Returns per-asset position data",
        "operationId": "positions",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/funding-arb-status": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Return current funding rates and arb package status for all assets.",
        "operationId": "funding_arb_status",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/validation": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Read-only: the strategy-validation pipeline gate (walk-forward + PBO +",
        "operationId": "validation_status",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/curator-profile": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Read-only: active curator profile with the resolve knobs for the next",
        "operationId": "curator_profile",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/kill-switch": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Current kill switch status. Checks the off-chain gate; also checks the",
        "operationId": "kill_switch_status",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/kill-switch/activate": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Halt all trading immediately. Always activates the off-chain gate;",
        "operationId": "activate_kill_switch",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/kill-switch/deactivate": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Resume trading. A deliberate, separate call \u2014 this is never triggered",
        "operationId": "deactivate_kill_switch",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/api/v1/vault/reconciliation": {
      "get": {
        "tags": [
          "Vault"
        ],
        "summary": "Operator-only reconciliation snapshot: vault totalAssets vs OKX balance.",
        "operationId": "vault_reconciliation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/vault/attest": {
      "post": {
        "tags": [
          "Vault"
        ],
        "summary": "Operator triggers attestTotalAssets on the vault contract.",
        "operationId": "vault_attest",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AgentToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Agent-Token"
      }
    }
  },
  "security": [
    {
      "AgentToken": []
    }
  ],
  "tags": [
    {
      "name": "Trading",
      "description": "Trade execution and management"
    },
    {
      "name": "Audit",
      "description": "Onchain audit trail queries"
    },
    {
      "name": "Risk",
      "description": "Risk management and statistics"
    },
    {
      "name": "Vault",
      "description": "Depositor-facing vault API"
    },
    {
      "name": "System",
      "description": "Health and manifest"
    }
  ]
}