{
  "openapi": "3.0.3",
  "info": {
    "title": "Portfolio Risk Copilot",
    "description": "Autonomous portfolio risk auditing agent with onchain audit trail. Analyzes holdings, scores risk, and logs decision trail to X Layer before any trade execution.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.tars-trade.com",
      "description": "Production"
    },
    {
      "url": "https://staging-api.tars-trade.com",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/manifest": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Serve the ASP manifest for okx.ai agent registration.",
        "operationId": "manifest",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/.well-known/agent-card.json": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "A2A-compatible discovery card (I4): capabilities, tool catalog with",
        "operationId": "agent_card",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "x402 payment discovery (I4): which routes are paid and on what terms.",
        "operationId": "x402_well_known",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Liveness + heartbeat (S2): distinguishes \"no cycle ran\" (heartbeat",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/metrics": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Structured metrics snapshot (S3): counters, gauges, heartbeat, and",
        "operationId": "api_metrics",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/pricing": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Full x402 price card (I3): every priced route with tier and USDC",
        "operationId": "api_pricing",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/estimate": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Cost estimate before a value action (I6): show price before asking",
        "operationId": "api_estimate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "route",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route path to get price estimate for (e.g., /hire, /trade)"
          }
        ]
      }
    },
    "/api/v1/billing/moove-link": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Create a Moove Receive payment link for a value action. Returns",
        "operationId": "billing_moove_link",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MooveLinkRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/moove-links": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Reconciliation source: newest-first page (10 fixed) of the",
        "operationId": "billing_moove_links",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "completed"
              ]
            },
            "description": "Filter by link status"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          }
        ]
      }
    },
    "/api/v1/billing/moove-link/{link_id}": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Public link lookup (no key needed \u2014 mirrors Moove's unauthenticated",
        "operationId": "billing_moove_link_get",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment link ID"
          }
        ]
      }
    },
    "/api/v1/billing/status/{link_id}": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Reconciliation verdict for one link: settled or not, with amounts",
        "operationId": "billing_status",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/hire": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Run a portfolio audit: analyze holdings, score risk, log the decision trail.",
        "operationId": "hire",
        "responses": {
          "200": {
            "description": "Successful response - returns AuditReport",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input data"
          },
          "401": {
            "description": "Unauthorized - missing or invalid X-Agent-Token header"
          },
          "403": {
            "description": "Forbidden - live mode not enabled on this deployment"
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Bad Gateway - OKX CLI call failed"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HireRequest"
              }
            }
          }
        }
      }
    },
    "/trade": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Run a trading cycle: generate signals \u2192 pass risk checks \u2192 log onchain \u2192 execute.",
        "operationId": "trade",
        "responses": {
          "200": {
            "description": "Successful response - returns TradingCycleResult",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradingCycleResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "423": {
            "description": "Locked - kill switch is active"
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          },
          "501": {
            "description": "Not Implemented - mode='cycle' not supported in serverless"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeRequest"
              }
            }
          }
        }
      }
    },
    "/audit-stats": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Query onchain audit trail for recent decisions and executions.",
        "operationId": "audit_stats",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 7,
              "minimum": 1,
              "maximum": 30
            },
            "description": "Number of days to query"
          }
        ]
      }
    },
    "/risk-stats": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Get current daily risk statistics for the agent.",
        "operationId": "risk_stats",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/positions": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Fetch live positions from OKX. Returns per-asset position data",
        "operationId": "positions",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/funding-arb-status": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Return current funding rates and arb package status for all assets.",
        "operationId": "funding_arb_status",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/validation": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Read-only: the strategy-validation pipeline gate (walk-forward + PBO +",
        "operationId": "validation_status",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/curator-profile": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Read-only: active curator profile with the resolve knobs for the next",
        "operationId": "curator_profile",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/kill-switch": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Current kill switch status. Checks the off-chain gate; also checks the",
        "operationId": "kill_switch_status",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/kill-switch/activate": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Halt all trading immediately. Always activates the off-chain gate;",
        "operationId": "activate_kill_switch",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KillSwitchRequest"
              }
            }
          }
        }
      }
    },
    "/kill-switch/deactivate": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Resume trading. A deliberate, separate call \u2014 this is never triggered",
        "operationId": "deactivate_kill_switch",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/api/v1/vault/reconciliation": {
      "get": {
        "tags": [
          "Vault"
        ],
        "summary": "Operator-only reconciliation snapshot: vault totalAssets vs OKX balance.",
        "operationId": "vault_reconciliation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/vault/attest": {
      "post": {
        "tags": [
          "Vault"
        ],
        "summary": "Operator triggers attestTotalAssets on the vault contract.",
        "operationId": "vault_attest",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Bad Gateway - could not read OKX balance"
          },
          "503": {
            "description": "Service Unavailable - vault not deployed or not configured"
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AgentToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Agent-Token"
      }
    },
    "schemas": {
      "HireRequest": {
        "type": "object",
        "required": [
          "mode",
          "profile_mode"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "own_account"
            ],
            "default": "own_account",
            "description": "Only 'own_account' is supported."
          },
          "profile_mode": {
            "type": "string",
            "enum": [
              "demo",
              "live"
            ],
            "default": "demo",
            "description": "Audit mode: 'demo' for testnet data or 'live' for real account."
          },
          "inst_type": {
            "type": "string",
            "enum": [
              "SWAP",
              "FUTURES",
              "OPTION"
            ],
            "description": "Optional filter for the leverage/positions check."
          },
          "balance_data": {
            "type": "object",
            "description": "Output of `okx account balance-all --json`. Required for data-forwarding mode (production).",
            "example": {
              "data": [
                {
                  "ccy": "USDT",
                  "availBal": "10000"
                }
              ]
            }
          },
          "positions_data": {
            "type": "array",
            "description": "Output of `okx account positions --json`. Array of position objects.",
            "items": {
              "type": "object"
            },
            "example": [
              {
                "instId": "BTC-USDT-SWAP",
                "pos": "0.1",
                "avgPx": "50000"
              }
            ]
          }
        },
        "example": {
          "mode": "own_account",
          "profile_mode": "demo",
          "inst_type": "SWAP",
          "balance_data": {
            "data": [
              {
                "ccy": "USDT",
                "availBal": "10000"
              }
            ]
          },
          "positions_data": [
            {
              "instId": "BTC-USDT-SWAP",
              "pos": "0.1",
              "avgPx": "50000"
            }
          ]
        }
      },
      "TradeRequest": {
        "type": "object",
        "properties": {
          "assets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [
              "BTC-USDT-SWAP",
              "ETH-USDT-SWAP",
              "SOL-USDT-SWAP"
            ],
            "description": "Assets to trade"
          },
          "mode": {
            "type": "string",
            "enum": [
              "single",
              "cycle"
            ],
            "default": "single",
            "description": "Single cycle or continuous (cycle not implemented in serverless)"
          },
          "interval_seconds": {
            "type": "integer",
            "default": 300,
            "description": "Interval for continuous mode"
          }
        },
        "example": {
          "assets": [
            "BTC-USDT-SWAP",
            "ETH-USDT-SWAP"
          ],
          "mode": "single"
        }
      },
      "KillSwitchRequest": {
        "type": "object",
        "required": [
          "reason"
        ],
        "properties": {
          "reason": {
            "type": "string",
            "minLength": 1,
            "description": "Why the kill switch is being activated"
          }
        },
        "example": {
          "reason": "Daily loss limit exceeded"
        }
      },
      "AuditReport": {
        "type": "object",
        "properties": {
          "total_equity_usd": {
            "type": "number",
            "description": "Total account equity in USD"
          },
          "risk_score": {
            "type": "integer",
            "description": "Overall risk score (0-100)"
          },
          "positions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "asset": {
                  "type": "string"
                },
                "size": {
                  "type": "number"
                },
                "leverage": {
                  "type": "number"
                },
                "unrealized_pnl": {
                  "type": "number"
                }
              }
            }
          },
          "risk_violations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "onchain_decision_hash": {
            "type": "string",
            "description": "Onchain decision log transaction hash"
          },
          "timestamp": {
            "type": "number",
            "description": "Unix timestamp of the audit"
          }
        }
      },
      "TradingCycleResult": {
        "type": "object",
        "properties": {
          "cycle_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "number"
          },
          "signals": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "decisions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "executions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total_pnl_usd": {
            "type": "number"
          },
          "total_fees_usd": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dry_run": {
            "type": "boolean"
          }
        }
      },
      "MooveLinkRequest": {
        "type": "object",
        "required": [
          "to_amount"
        ],
        "properties": {
          "to_amount": {
            "type": [
              "string",
              "number"
            ],
            "description": "Amount in the settlement token (USDC). Forwarded as string to avoid float rounding."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "description": "Shown to the payer on checkout (e.g., 'TARS hire audit')."
          },
          "max_usage": {
            "type": "integer",
            "minimum": 1,
            "description": "Payments accepted before completion. Omit = unlimited."
          },
          "expiration_date": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 future timestamp. Omit = never expires."
          }
        },
        "example": {
          "to_amount": "0.50",
          "description": "TARS hire audit",
          "max_usage": 1
        }
      }
    }
  },
  "security": [
    {
      "AgentToken": []
    }
  ],
  "tags": [
    {
      "name": "Trading",
      "description": "Trade execution and management"
    },
    {
      "name": "Audit",
      "description": "Onchain audit trail queries"
    },
    {
      "name": "Risk",
      "description": "Risk management and statistics"
    },
    {
      "name": "Vault",
      "description": "Depositor-facing vault API"
    },
    {
      "name": "System",
      "description": "Health, manifest, and billing"
    }
  ]
}